.idea/*

*.bak


*-checkpoint.ipynb*
.ipynb_checkpoints


docs/*.jsonld
docs/_build
docs/generated

*.pyc
__pycache__/*
*/.ipynb_checkpoints/*

# build
*.egg*
build/
dist/
docs/class_structure_pub.svg
.coverage
*.zip
*.tif
#*.json
*.h5
*.doc

.pypirc
.pylint
not/existing/dir
tutorials/person.json

scripts/*.ttl
