[MAIN]

disable=W1203,
        C0301,
        C0114,
        raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        invalid-name,
        logging-format-interpolation,
        wrong-import-order,
        too-many-locals

analyse-fallback-blocks=no
fail-under=10
ignore=CVS
ignore-patterns=^\.#
jobs=1
limit-inference-results=100
persistent=yes
py-version=3.8
recursive=no
suggestion-mode=yes
unsafe-load-any-extension=no
